<div class="row">
    <div class="col-md-5 centered">

        <div class="row">
            <button [routerLink]="['/new']" class="btn btn-success btn-lg center-block margin-bottom" role="button">Create new alert</button>
        </div>

        <div class="row" *ngFor='let alert of alerts'>
            <div class='panel alert alert-active' [ngClass]="{ 'alert-complete' : alert.status == 'Not active' }">
                <span>{{ alert.from_currency }}{{ alert.to_currency }}</span>
                <span class="pull-right">{{ alert.status}}</span>
                <h4 class="center-text">{{ alert.lower_rate }} - {{ alert.upper_rate }}</h4>
                <p class="pull-right">{{ alert.created_at | date:'medium' }}</p>
            </div>
        </div>
    </div>
</div>